<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Dashboard Glitch</h1>
        <!--<p><%= message %></p>-->
        
    </div>
    
    <ul>
        <% mascots.forEach(function(mascot) { %>
            <li>
                <strong><%= mascot.name %></strong>
                representing <%= mascot.organization %>, born <%= mascot.birth_year %>
            </li>
        <% }); %>
    </ul>
</main>

<ul id="events"></ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const $events = document.getElementById('events');

    const newItem = (content) => {
      const item = document.createElement('li');
      item.innerText = content;
      return item;
    };

    const socket = io();

    socket.on('connect', () => {
      $events.appendChild(newItem('claudio'));
    });
</script>

<footer>
    <%- include('../partials/footer'); %>
</footer>


</body>
</html>